<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item" href="https://drive.google.com/file/d/0B3_s9pDvd-tEc0h3TVRlcFJWUU0/view?usp=sharing">Resume</a>
    <a class="sidebar-nav-item" href="/projects/">Projects</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
    <a class="sidebar-nav-item" href="{{site.baseurl}}/blog">Blog</a>
    <a class="sidebar-nav-item" href="https://www.linkedin.com/in/sid-masih-65b54382">LinkedIn</a>
    <a class="sidebar-nav-item" href="mailto:sid.masih@berkeley.edu">Email</a>

    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
